
= render "movies_tab"

%hr
.row
  %h3
    %em
      Recommended Movies
      %span.text-small.text-muted Based on your favorite genres

= render partial: "movies/table", locals: { movies: @movies_recommended }

%hr
.row
  %h3
    %em Other Movies

= render partial: "movies/table", locals: { movies: @other_movies }
